/* || GENERAL STYLES */

:root {
    --dark-background: #003366;
    --light-background: #44bac2;
    --yellow-highlight: #ffff00;
    --sunset-orange: #ff9933;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }  
  
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
}


/* || HEADER */
  
header {
    padding: 20px;
    background-color: var(--dark-background);
    color: #ffffff;
    position: sticky;
    top: 0px;
    overflow: auto;
    width: 100%;
    z-index: 100;
  }
    
  header h1 {
    display: inline-block;
    font-size: 48px;
    text-decoration: underline var(--yellow-highlight);
  }
    
  header h1 .cap {
    background: linear-gradient(red,
                    orange, yellow);
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
  }
    
  .period {
    display: none;
  }
    
    
/* || NAVIGATION BAR */
    
  .navbar {
    position: fixed;
    width: 100%;
    min-height: 25px;
    max-height: 50px;
    background-color: var(--light-background);
    z-index: 100;
  }
    
  .navbar a {
    float: right;
    font-size: 16px;
    color: var(--dark-background);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
  .dropdown {
    float: right;
    overflow: hidden;
  }
    
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--dark-background);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
    
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--dark-background);
    color: var(--light-background);
  }
    
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--dark-background);
    z-index: 1;
  }
    
  .dropdown-content a {
    float: none;
    color: var(--dark-background);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
    
  .dropdown-content a:hover {
    background-color: var(--dark-background);
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
  }
    
    
/* || BACKGROUND IMAGE */
    
  figure img {
    min-height: 100px;
    height: auto;
    width: 100%;
  }
  
  .rounded-image {
    border-radius: 20px;
  }


/* || MAIN CONTENT */

.flex-container {
    display: flex;
    flex-flow: column wrap;
}

.flex-container > * {
    padding: 1vh;
    margin: 1vh;
    flex: 1 1 100%;
    border-radius: 10px;  
}

.header-column {
    height: 100vh;
    background: gold;
    display: flex;
    flex-direction: column;
}

.content {
    text-align: left;
    background: deepskyblue;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}


















/* .wrapper {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.wrapper > * {
    padding: 1vh;
    margin: 1vh;
    flex: 1 100%;
    border-radius: 10px;
}




.about-me {
    background: tomato;
    height: 25vh;
    display: flex;
    text-align: flex-start;
}

.about-me h1 {
    border-right: 3px solid black;
}




.aside1 {
    background: gold;
    height: 102vh;
    justify-content: flex-start;
}




.projects {
    display: flex;
    justify-content: flex-end;
}

.flexbox-container-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flexbox-container-alt {
    display: flex;
    flex-flow: row wrap;    
    flex: 1 1 50%;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin: 1%
}

.flexbox-item {
    width: 200px;
    height: 200px;
    margin: 1%;
    border: 3px solid #333;
    background-color: #dfdfdf;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    text-align: center;
}

.flexbox-item-1 {
    min-height: 40vw;
    min-width: 40vw;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.flexbox-item-2 {
    min-height: 20vw;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
}

.flexbox-item-3 {
    min-height: 20vw;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
}

.flexbox-item-4 {
    min-height: 20vw;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
}

.flexbox-item-5 {
    min-height: 20vw;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
}

.flexbox-item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-text {
    position: absolute;
    bottom: 1px;
    right: 2px;
    background: rgb(87, 148, 177);
    color: #ffffff;
    flex: 1 1 50%;
} */

a:hover {
    opacity: 75%;
}

.zoom {
    transition: transform .2s; /* Animation */
}
    
.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* .main {
    text-align: left;
    background: deepskyblue;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.main-card {        
    height: 50vh;
}

.main-card-1 {
    background: green;
    margin: 1vh;
}

.main-card-2 {
    background: violet;
    margin: 1vh;
} */


/* || FOOTER (CONTACT INFO) */

.footer {
    background: lightgreen;
    height: 12vh;
    display: flex;
    justify-content: space-around;
}

.footer h1 {
    border-right: 3px solid black;
}

.footer img {
    height: 10vh;
    width: 10vh;
}


/* || RESIZING ORDERS */

@media all and (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1;
    }
}